module zabbix_agent 1.0;

require {
        type container_t;
        type tun_tap_device_t;
        type usb_device_t;
        type autofs_device_t;
        type fixed_disk_device_t;
        type kmsg_device_t;
        class chr_file getattr;
        class blk_file getattr;
}

#============= container_t ==============
allow container_t autofs_device_t:chr_file getattr;
allow container_t fixed_disk_device_t:blk_file getattr;
allow container_t kmsg_device_t:chr_file getattr;
allow container_t tun_tap_device_t:chr_file getattr;
allow container_t usb_device_t:chr_file getattr;
